@font-face {
  font-family: 'journeys';
  src:  url('fonts/journeys.eot?t3jlh');
  src:  url('fonts/journeys.eot?t3jlh#iefix') format('embedded-opentype'),
    url('fonts/journeys.ttf?t3jlh') format('truetype'),
    url('fonts/journeys.woff?t3jlh') format('woff'),
    url('fonts/journeys.svg?t3jlh#journeys') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'journeys' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bungalow:before {
  content: "\e900";
}
.icon-pousada:before {
  content: "\e901";
}
.icon-Icon_sales-channel:before {
  content: "\e902";
}
.icon-info:before {
  content: "\e903";
}
.icon-invoice:before {
  content: "\e904";
}
.icon-kitchen:before {
  content: "\e905";
}
.icon-language:before {
  content: "\e906";
}
.icon-markup:before {
  content: "\e907";
}
.icon-new-product:before {
  content: "\e908";
}
.icon-passenger:before {
  content: "\e909";
}
.icon-printer:before {
  content: "\e90a";
}
.icon-privacy-policy:before {
  content: "\e90b";
}
.icon-product:before {
  content: "\e90c";
}
.icon-room-service:before {
  content: "\e90d";
}
.icon-save:before {
  content: "\e90e";
}
.icon-search:before {
  content: "\e90f";
}
.icon-star-full:before {
  content: "\e910";
}
.icon-star:before {
  content: "\e911";
}
.icon-suitcase:before {
  content: "\e912";
}
.icon-surf:before {
  content: "\e913";
}
.icon-tax-decrese:before {
  content: "\e914";
}
.icon-tax-increace:before {
  content: "\e915";
}
.icon-total:before {
  content: "\e916";
}
.icon-pickup:before {
  content: "\e917";
}
.icon-transfer:before {
  content: "\e918";
}
.icon-user:before {
  content: "\e919";
}
.icon-value:before {
  content: "\e91a";
}
.icon-descont:before {
  content: "\e91b";
}
.icon-edit-values:before {
  content: "\e91c";
}
.icon-entrada-saida:before {
  content: "\e91d";
}
.icon-exchange:before {
  content: "\e91e";
}
.icon-firepith:before {
  content: "\e91f";
}
.icon-hotel-2:before {
  content: "\e920";
}
.icon-doc-digital:before {
  content: "\e921";
}
.icon-document:before {
  content: "\e922";
}
.icon-baby:before {
  content: "\e923";
}
.icon-bad:before {
  content: "\e924";
}
.icon-basic-itens:before {
  content: "\e925";
}
.icon-beach-view:before {
  content: "\e926";
}
.icon-beach:before {
  content: "\e927";
}
.icon-calendar:before {
  content: "\e928";
}
.icon-camera:before {
  content: "\e929";
}
.icon-car:before {
  content: "\e92a";
}
.icon-case:before {
  content: "\e92b";
}
.icon-change-log:before {
  content: "\e92c";
}
.icon-children:before {
  content: "\e92d";
}
.icon-comment:before {
  content: "\e92e";
}
.icon-commission:before {
  content: "\e92f";
}
.icon-cost:before {
  content: "\e930";
}
.icon-customer-notes:before {
  content: "\e931";
}
.icon-category:before {
  content: "\e932";
}
.icon-atencion:before {
  content: "\e933";
}
.icon-avaliations:before {
  content: "\e934";
}
.icon-ajust:before {
  content: "\e935";
}
.icon-youtube:before {
  content: "\e936";
}
.icon-wifi:before {
  content: "\e937";
}
.icon-whatsapp:before {
  content: "\e938";
}
.icon-voucher:before {
  content: "\e939";
}
.icon-user-add:before {
  content: "\e93a";
}
.icon-under-construction:before {
  content: "\e93b";
}
.icon-twitter:before {
  content: "\e93c";
}
.icon-trash:before {
  content: "\e93d";
}
.icon-translate:before {
  content: "\e93e";
}
.icon-tour:before {
  content: "\e93f";
}
.icon-telegram:before {
  content: "\e940";
}
.icon-suporter:before {
  content: "\e941";
}
.icon-suport:before {
  content: "\e942";
}
.icon-sun-2:before {
  content: "\e943";
}
.icon-status:before {
  content: "\e944";
}
.icon-spotify:before {
  content: "\e945";
}
.icon-sail:before {
  content: "\e946";
}
.icon-resize:before {
  content: "\e947";
}
.icon-pwd:before {
  content: "\e948";
}
.icon-pinterest:before {
  content: "\e949";
}
.icon-pin:before {
  content: "\e94a";
}
.icon-percent:before {
  content: "\e94b";
}
.icon-paw:before {
  content: "\e94c";
}
.icon-pass-show:before {
  content: "\e94d";
}
.icon-pass-hidden:before {
  content: "\e94e";
}
.icon-parking:before {
  content: "\e94f";
}
.icon-pacifier:before {
  content: "\e950";
}
.icon-map:before {
  content: "\e951";
}
.icon-lock:before {
  content: "\e952";
}
.icon-location:before {
  content: "\e953";
}
.icon-linkedin:before {
  content: "\e954";
}
.icon-landscape:before {
  content: "\e955";
}
.icon-key:before {
  content: "\e956";
}
.icon-instagram:before {
  content: "\e957";
}
.icon-hotel:before {
  content: "\e958";
}
.icon-home-office:before {
  content: "\e959";
}
.icon-group:before {
  content: "\e95a";
}
.icon-food:before {
  content: "\e95b";
}
.icon-fish:before {
  content: "\e95c";
}
.icon-facebook:before {
  content: "\e95d";
}
.icon-extra:before {
  content: "\e95e";
}
.icon-download:before {
  content: "\e95f";
}
.icon-diwe:before {
  content: "\e960";
}
.icon-close:before {
  content: "\e961";
}
.icon-brasil:before {
  content: "\e962";
}
.icon-bags:before {
  content: "\e963";
}
.icon-atraction:before {
  content: "\e964";
}
.icon-arrow-top:before {
  content: "\e965";
}
.icon-arrow-right:before {
  content: "\e966";
}
.icon-arrow-left:before {
  content: "\e967";
}
.icon-arrow-down:before {
  content: "\e968";
}
.icon-airport:before {
  content: "\e969";
}
