@font-face {
  font-family: 'journeys';
  src:  url('fonts/journeys.eot?cigiu1');
  src:  url('fonts/journeys.eot?cigiu1#iefix') format('embedded-opentype'),
    url('fonts/journeys.ttf?cigiu1') format('truetype'),
    url('fonts/journeys.woff?cigiu1') format('woff'),
    url('fonts/journeys.svg?cigiu1#journeys') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'journeys' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-voucher:before {
  content: "\e925";
}
.icon-trash-politic:before {
  content: "\e92b";
}
.icon-trash-undo:before {
  content: "\e92c";
}
.icon-invoice:before {
  content: "\e938";
}
.icon-privacy-policy:before {
  content: "\e93a";
}
.icon-edit-values:before {
  content: "\e93d";
}
.icon-Egg:before {
  content: "\e900";
}
.icon-stripes:before {
  content: "\e900";
}
.icon-Circus:before {
  content: "\e901";
}
.icon-tent:before {
  content: "\e901";
}
.icon-Barrel:before {
  content: "\e902";
}
.icon-keg:before {
  content: "\e902";
}
.icon-beer:before {
  content: "\e902";
}
.icon-Pumpkin:before {
  content: "\e903";
}
.icon-halloween:before {
  content: "\e903";
}
.icon-Ferris-wheel:before {
  content: "\e904";
}
.icon-attraction:before {
  content: "\e904";
}
.icon-Bbq:before {
  content: "\e905";
}
.icon-grill:before {
  content: "\e905";
}
.icon-Horseshoe:before {
  content: "\e906";
}
.icon-luck:before {
  content: "\e906";
}
.icon-Bones:before {
  content: "\e907";
}
.icon-Bat:before {
  content: "\e908";
}
.icon-Cotton-candy:before {
  content: "\e909";
}
.icon-Sledge:before {
  content: "\e90a";
}
.icon-Coffin:before {
  content: "\e90b";
}
.icon-Easter-egg:before {
  content: "\e90c";
}
.icon-pattern:before {
  content: "\e90c";
}
.icon-b:before {
  content: "\e90c";
}
.icon-Ferris-wheel1:before {
  content: "\e90d";
}
.icon-attraction2:before {
  content: "\e90d";
}
.icon-b1:before {
  content: "\e90d";
}
.icon-Christmas-tree:before {
  content: "\e90e";
}
.icon-Beard:before {
  content: "\e90f";
}
.icon-Cross:before {
  content: "\e910";
}
.icon-religion:before {
  content: "\e910";
}
.icon-Christmas-tree-toy1:before {
  content: "\e911";
}
.icon-ball1:before {
  content: "\e911";
}
.icon-Guitar:before {
  content: "\e912";
}
.icon-neck:before {
  content: "\e912";
}
.icon-Christmas-tree-toy:before {
  content: "\e913";
}
.icon-ball-2:before {
  content: "\e913";
}
.icon-Leprechaun:before {
  content: "\e914";
}
.icon-Carousel:before {
  content: "\e915";
}
.icon-attraction1:before {
  content: "\e915";
}
.icon-Cemetery:before {
  content: "\e916";
}
.icon-tombstone:before {
  content: "\e916";
}
.icon-cross:before {
  content: "\e916";
}
.icon-Fence:before {
  content: "\e917";
}
.icon-Bell:before {
  content: "\e918";
}
.icon-Cookie:before {
  content: "\e919";
}
.icon-gingerbread:before {
  content: "\e919";
}
.icon-Clover:before {
  content: "\e91a";
}
.icon-luck1:before {
  content: "\e91a";
}
.icon-Souvenir:before {
  content: "\e91b";
}
.icon-ball:before {
  content: "\e91b";
}
.icon-Microphone:before {
  content: "\e91c";
}
.icon-karaoke:before {
  content: "\e91c";
}
.icon-songs:before {
  content: "\e91c";
}
.icon-Air-balloon:before {
  content: "\e91d";
}
.icon-Easter:before {
  content: "\e91e";
}
.icon-eggs:before {
  content: "\e91e";
}
.icon-Coloring:before {
  content: "\e91f";
}
.icon-egg:before {
  content: "\e91f";
}
.icon-Christmas-tree-toy2:before {
  content: "\e920";
}
.icon-candy:before {
  content: "\e920";
}
.icon-Caldron:before {
  content: "\e921";
}
.icon-witchcraft:before {
  content: "\e921";
}
.icon-Ghost:before {
  content: "\e922";
}
.icon-Icon_sales-channel:before {
  content: "\e923";
}
.icon-info:before {
  content: "\e924";
}
.icon-kitchen:before {
  content: "\e926";
}
.icon-language:before {
  content: "\e927";
}
.icon-markup:before {
  content: "\e928";
}
.icon-new-product:before {
  content: "\e929";
}
.icon-passenger:before {
  content: "\e92a";
}
.icon-product:before {
  content: "\e92d";
}
.icon-room-service:before {
  content: "\e92e";
}
.icon-save:before {
  content: "\e92f";
}
.icon-search:before {
  content: "\e930";
}
.icon-star-full:before {
  content: "\e931";
}
.icon-star:before {
  content: "\e932";
}
.icon-suitcase:before {
  content: "\e933";
}
.icon-surf:before {
  content: "\e934";
}
.icon-tax-decrese:before {
  content: "\e935";
}
.icon-tax-increace:before {
  content: "\e936";
}
.icon-total:before {
  content: "\e937";
}
.icon-transfer:before {
  content: "\e939";
}
.icon-value:before {
  content: "\e93b";
}
.icon-descont:before {
  content: "\e93c";
}
.icon-entrada-saida:before {
  content: "\e93e";
}
.icon-exchange:before {
  content: "\e93f";
}
.icon-firepith:before {
  content: "\e940";
}
.icon-hotel-2:before {
  content: "\e941";
}
.icon-doc-digital:before {
  content: "\e942";
}
.icon-document:before {
  content: "\e943";
}
.icon-baby:before {
  content: "\e944";
}
.icon-bad:before {
  content: "\e945";
}
.icon-basic-itens:before {
  content: "\e946";
}
.icon-beach-view:before {
  content: "\e947";
}
.icon-beach:before {
  content: "\e948";
}
.icon-calendar:before {
  content: "\e949";
}
.icon-camera:before {
  content: "\e94a";
}
.icon-car:before {
  content: "\e94b";
}
.icon-case:before {
  content: "\e94c";
}
.icon-change-log:before {
  content: "\e94d";
}
.icon-children:before {
  content: "\e94e";
}
.icon-commission:before {
  content: "\e950";
}
.icon-cost:before {
  content: "\e951";
}
.icon-category:before {
  content: "\e953";
}
.icon-atencion:before {
  content: "\e954";
}
.icon-avaliations:before {
  content: "\e955";
}
.icon-ajust:before {
  content: "\e956";
}
.icon-youtube:before {
  content: "\e957";
}
.icon-wifi:before {
  content: "\e958";
}
.icon-whatsapp:before {
  content: "\e959";
}
.icon-under-construction:before {
  content: "\e95c";
}
.icon-twitter:before {
  content: "\e95d";
}
.icon-translate:before {
  content: "\e95f";
}
.icon-tour:before {
  content: "\e960";
}
.icon-telegram:before {
  content: "\e961";
}
.icon-sun-2:before {
  content: "\e964";
}
.icon-status:before {
  content: "\e965";
}
.icon-spotify:before {
  content: "\e966";
}
.icon-sail:before {
  content: "\e967";
}
.icon-resize:before {
  content: "\e968";
}
.icon-pwd:before {
  content: "\e969";
}
.icon-pinterest:before {
  content: "\e96a";
}
.icon-pin:before {
  content: "\e96b";
}
.icon-percent:before {
  content: "\e96c";
}
.icon-paw:before {
  content: "\e96d";
}
.icon-pacifier:before {
  content: "\e971";
}
.icon-map:before {
  content: "\e972";
}
.icon-lock:before {
  content: "\e973";
}
.icon-location:before {
  content: "\e974";
}
.icon-linkedin:before {
  content: "\e975";
}
.icon-landscape:before {
  content: "\e976";
}
.icon-key:before {
  content: "\e977";
}
.icon-instagram:before {
  content: "\e978";
}
.icon-hotel:before {
  content: "\e979";
}
.icon-home-office:before {
  content: "\e97a";
}
.icon-food:before {
  content: "\e97c";
}
.icon-fish:before {
  content: "\e97d";
}
.icon-facebook:before {
  content: "\e97e";
}
.icon-extra:before {
  content: "\e97f";
}
.icon-download:before {
  content: "\e980";
}
.icon-diwe:before {
  content: "\e981";
}
.icon-brasil:before {
  content: "\e983";
}
.icon-bags:before {
  content: "\e984";
}
.icon-atraction:before {
  content: "\e985";
}
.icon-airport:before {
  content: "\e98a";
}
.icon-activity:before {
  content: "\e98b";
}
.icon-airplay:before {
  content: "\e98c";
}
.icon-alert-circle:before {
  content: "\e98d";
}
.icon-alert-octagon:before {
  content: "\e98e";
}
.icon-alert-triangle:before {
  content: "\e98f";
}
.icon-align-center:before {
  content: "\e990";
}
.icon-align-justify:before {
  content: "\e991";
}
.icon-align-left:before {
  content: "\e992";
}
.icon-align-right:before {
  content: "\e993";
}
.icon-anchor:before {
  content: "\e994";
}
.icon-aperture:before {
  content: "\e995";
}
.icon-archive:before {
  content: "\e996";
}
.icon-arrow-down1:before {
  content: "\e997";
}
.icon-arrow-down-circle:before {
  content: "\e998";
}
.icon-arrow-down-left:before {
  content: "\e999";
}
.icon-arrow-down-right:before {
  content: "\e99a";
}
.icon-arrow-left1:before {
  content: "\e99b";
}
.icon-arrow-left-circle:before {
  content: "\e99c";
}
.icon-arrow-right1:before {
  content: "\e99d";
}
.icon-arrow-right-circle:before {
  content: "\e99e";
}
.icon-arrow-up:before {
  content: "\e99f";
}
.icon-arrow-up-circle:before {
  content: "\e9a0";
}
.icon-arrow-up-left:before {
  content: "\e9a1";
}
.icon-arrow-up-right:before {
  content: "\e9a2";
}
.icon-at-sign:before {
  content: "\e9a3";
}
.icon-award:before {
  content: "\e9a4";
}
.icon-bar-chart:before {
  content: "\e9a5";
}
.icon-bar-chart-2:before {
  content: "\e9a6";
}
.icon-battery:before {
  content: "\e9a7";
}
.icon-battery-charging:before {
  content: "\e9a8";
}
.icon-bell:before {
  content: "\e9a9";
}
.icon-bell-off:before {
  content: "\e9aa";
}
.icon-bluetooth:before {
  content: "\e9ab";
}
.icon-bold:before {
  content: "\e9ac";
}
.icon-book:before {
  content: "\e9ad";
}
.icon-book-open:before {
  content: "\e9ae";
}
.icon-bookmark:before {
  content: "\e9af";
}
.icon-box:before {
  content: "\e9b0";
}
.icon-briefcase:before {
  content: "\e9b1";
}
.icon-calendar1:before {
  content: "\e9b2";
}
.icon-camera1:before {
  content: "\e9b3";
}
.icon-camera-off:before {
  content: "\e9b4";
}
.icon-cast:before {
  content: "\e9b5";
}
.icon-check:before {
  content: "\e9b6";
}
.icon-check-circle:before {
  content: "\e9b7";
}
.icon-check-square:before {
  content: "\e9b8";
}
.icon-chevron-down:before {
  content: "\e9b9";
}
.icon-chevron-left:before {
  content: "\e9ba";
}
.icon-chevron-right:before {
  content: "\e9bb";
}
.icon-chevron-up:before {
  content: "\e9bc";
}
.icon-chevrons-down:before {
  content: "\e9bd";
}
.icon-chevrons-left:before {
  content: "\e9be";
}
.icon-chevrons-right:before {
  content: "\e9bf";
}
.icon-chevrons-up:before {
  content: "\e9c0";
}
.icon-chrome:before {
  content: "\e9c1";
}
.icon-circle:before {
  content: "\e9c2";
}
.icon-clipboard:before {
  content: "\e9c3";
}
.icon-clock:before {
  content: "\e9c4";
}
.icon-cloud:before {
  content: "\e9c5";
}
.icon-cloud-drizzle:before {
  content: "\e9c6";
}
.icon-cloud-lightning:before {
  content: "\e9c7";
}
.icon-cloud-off:before {
  content: "\e9c8";
}
.icon-cloud-rain:before {
  content: "\e9c9";
}
.icon-cloud-snow:before {
  content: "\e9ca";
}
.icon-code:before {
  content: "\e9cb";
}
.icon-codepen:before {
  content: "\e9cc";
}
.icon-codesandbox:before {
  content: "\e9cd";
}
.icon-coffee:before {
  content: "\e9ce";
}
.icon-columns:before {
  content: "\e9cf";
}
.icon-command:before {
  content: "\e9d0";
}
.icon-compass:before {
  content: "\e9d1";
}
.icon-copy:before {
  content: "\e9d2";
}
.icon-corner-down-left:before {
  content: "\e9d3";
}
.icon-corner-down-right:before {
  content: "\e9d4";
}
.icon-corner-left-down:before {
  content: "\e9d5";
}
.icon-corner-left-up:before {
  content: "\e9d6";
}
.icon-corner-right-down:before {
  content: "\e9d7";
}
.icon-corner-right-up:before {
  content: "\e9d8";
}
.icon-corner-up-left:before {
  content: "\e9d9";
}
.icon-corner-up-right:before {
  content: "\e9da";
}
.icon-cpu:before {
  content: "\e9db";
}
.icon-credit-card:before {
  content: "\e9dc";
}
.icon-crop:before {
  content: "\e9dd";
}
.icon-crosshair:before {
  content: "\e9de";
}
.icon-database:before {
  content: "\e9df";
}
.icon-delete:before {
  content: "\e9e0";
}
.icon-disc:before {
  content: "\e9e1";
}
.icon-dollar-sign:before {
  content: "\e9e2";
}
.icon-download1:before {
  content: "\e9e3";
}
.icon-download-cloud:before {
  content: "\e9e4";
}
.icon-droplet:before {
  content: "\e9e5";
}
.icon-edit:before {
  content: "\e9e6";
}
.icon-edit-2:before {
  content: "\e9e7";
}
.icon-edit-3:before {
  content: "\e9e8";
}
.icon-external-link:before {
  content: "\e9e9";
}
.icon-eye:before {
  content: "\e9ea";
}
.icon-eye-off:before {
  content: "\e9eb";
}
.icon-facebook1:before {
  content: "\e9ec";
}
.icon-fast-forward:before {
  content: "\e9ed";
}
.icon-feather:before {
  content: "\e9ee";
}
.icon-figma:before {
  content: "\e9ef";
}
.icon-file:before {
  content: "\e9f0";
}
.icon-file-minus:before {
  content: "\e9f1";
}
.icon-file-plus:before {
  content: "\e9f2";
}
.icon-file-text:before {
  content: "\e9f3";
}
.icon-film:before {
  content: "\e9f4";
}
.icon-filter:before {
  content: "\e9f5";
}
.icon-flag:before {
  content: "\e9f6";
}
.icon-folder:before {
  content: "\e9f7";
}
.icon-folder-minus:before {
  content: "\e9f8";
}
.icon-folder-plus:before {
  content: "\e9f9";
}
.icon-framer:before {
  content: "\e9fa";
}
.icon-frown:before {
  content: "\e9fb";
}
.icon-gift:before {
  content: "\e9fc";
}
.icon-git-branch:before {
  content: "\e9fd";
}
.icon-git-commit:before {
  content: "\e9fe";
}
.icon-git-merge:before {
  content: "\e9ff";
}
.icon-git-pull-request:before {
  content: "\ea00";
}
.icon-github:before {
  content: "\ea01";
}
.icon-gitlab:before {
  content: "\ea02";
}
.icon-globe:before {
  content: "\ea03";
}
.icon-grid:before {
  content: "\ea04";
}
.icon-hard-drive:before {
  content: "\ea05";
}
.icon-hash:before {
  content: "\ea06";
}
.icon-headphones:before {
  content: "\ea07";
}
.icon-heart:before {
  content: "\ea08";
}
.icon-help-circle:before {
  content: "\ea09";
}
.icon-hexagon:before {
  content: "\ea0a";
}
.icon-home:before {
  content: "\ea0b";
}
.icon-image:before {
  content: "\ea0c";
}
.icon-inbox:before {
  content: "\ea0d";
}
.icon-info1:before {
  content: "\ea0e";
}
.icon-instagram1:before {
  content: "\ea0f";
}
.icon-italic:before {
  content: "\ea10";
}
.icon-key1:before {
  content: "\ea11";
}
.icon-layers:before {
  content: "\ea12";
}
.icon-layout:before {
  content: "\ea13";
}
.icon-life-buoy:before {
  content: "\ea14";
}
.icon-link:before {
  content: "\ea15";
}
.icon-link-2:before {
  content: "\ea16";
}
.icon-linkedin1:before {
  content: "\ea17";
}
.icon-list:before {
  content: "\ea18";
}
.icon-loader:before {
  content: "\ea19";
}
.icon-lock1:before {
  content: "\ea1a";
}
.icon-log-in:before {
  content: "\ea1b";
}
.icon-log-out:before {
  content: "\ea1c";
}
.icon-mail:before {
  content: "\ea1d";
}
.icon-map1:before {
  content: "\ea1e";
}
.icon-map-pin:before {
  content: "\ea1f";
}
.icon-maximize:before {
  content: "\ea20";
}
.icon-maximize-2:before {
  content: "\ea21";
}
.icon-meh:before {
  content: "\ea22";
}
.icon-menu:before {
  content: "\ea23";
}
.icon-message-circle:before {
  content: "\ea24";
}
.icon-message-square:before {
  content: "\ea25";
}
.icon-mic:before {
  content: "\ea26";
}
.icon-mic-off:before {
  content: "\ea27";
}
.icon-minimize:before {
  content: "\ea28";
}
.icon-minimize-2:before {
  content: "\ea29";
}
.icon-minus:before {
  content: "\ea2a";
}
.icon-minus-circle:before {
  content: "\ea2b";
}
.icon-minus-square:before {
  content: "\ea2c";
}
.icon-monitor:before {
  content: "\ea2d";
}
.icon-moon:before {
  content: "\ea2e";
}
.icon-more-horizontal:before {
  content: "\ea2f";
}
.icon-more-vertical:before {
  content: "\ea30";
}
.icon-mouse-pointer:before {
  content: "\ea31";
}
.icon-move:before {
  content: "\ea32";
}
.icon-music:before {
  content: "\ea33";
}
.icon-navigation:before {
  content: "\ea34";
}
.icon-navigation-2:before {
  content: "\ea35";
}
.icon-octagon:before {
  content: "\ea36";
}
.icon-package:before {
  content: "\ea37";
}
.icon-paperclip:before {
  content: "\ea38";
}
.icon-pause:before {
  content: "\ea39";
}
.icon-pause-circle:before {
  content: "\ea3a";
}
.icon-pen-tool:before {
  content: "\ea3b";
}
.icon-percent1:before {
  content: "\ea3c";
}
.icon-phone:before {
  content: "\ea3d";
}
.icon-phone-call:before {
  content: "\ea3e";
}
.icon-phone-forwarded:before {
  content: "\ea3f";
}
.icon-phone-incoming:before {
  content: "\ea40";
}
.icon-phone-missed:before {
  content: "\ea41";
}
.icon-phone-off:before {
  content: "\ea42";
}
.icon-phone-outgoing:before {
  content: "\ea43";
}
.icon-pie-chart:before {
  content: "\ea44";
}
.icon-play:before {
  content: "\ea45";
}
.icon-play-circle:before {
  content: "\ea46";
}
.icon-plus:before {
  content: "\ea47";
}
.icon-plus-circle:before {
  content: "\ea48";
}
.icon-plus-square:before {
  content: "\ea49";
}
.icon-pocket:before {
  content: "\ea4a";
}
.icon-power:before {
  content: "\ea4b";
}
.icon-printer1:before {
  content: "\ea4c";
}
.icon-radio:before {
  content: "\ea4d";
}
.icon-refresh-ccw:before {
  content: "\ea4e";
}
.icon-refresh-cw:before {
  content: "\ea4f";
}
.icon-repeat:before {
  content: "\ea50";
}
.icon-rewind:before {
  content: "\ea51";
}
.icon-rotate-ccw:before {
  content: "\ea52";
}
.icon-rotate-cw:before {
  content: "\ea53";
}
.icon-rss:before {
  content: "\ea54";
}
.icon-save1:before {
  content: "\ea55";
}
.icon-scissors:before {
  content: "\ea56";
}
.icon-search1:before {
  content: "\ea57";
}
.icon-send:before {
  content: "\ea58";
}
.icon-server:before {
  content: "\ea59";
}
.icon-settings:before {
  content: "\ea5a";
}
.icon-share:before {
  content: "\ea5b";
}
.icon-share-2:before {
  content: "\ea5c";
}
.icon-shield:before {
  content: "\ea5d";
}
.icon-shield-off:before {
  content: "\ea5e";
}
.icon-shopping-bag:before {
  content: "\ea5f";
}
.icon-shopping-cart:before {
  content: "\ea60";
}
.icon-shuffle:before {
  content: "\ea61";
}
.icon-sidebar:before {
  content: "\ea62";
}
.icon-skip-back:before {
  content: "\ea63";
}
.icon-skip-forward:before {
  content: "\ea64";
}
.icon-slack:before {
  content: "\ea65";
}
.icon-slash:before {
  content: "\ea66";
}
.icon-sliders:before {
  content: "\ea67";
}
.icon-smartphone:before {
  content: "\ea68";
}
.icon-smile:before {
  content: "\ea69";
}
.icon-speaker:before {
  content: "\ea6a";
}
.icon-square:before {
  content: "\ea6b";
}
.icon-star1:before {
  content: "\ea6c";
}
.icon-stop-circle:before {
  content: "\ea6d";
}
.icon-sun:before {
  content: "\ea6e";
}
.icon-sunrise:before {
  content: "\ea6f";
}
.icon-sunset:before {
  content: "\ea70";
}
.icon-tablet:before {
  content: "\ea71";
}
.icon-tag:before {
  content: "\ea72";
}
.icon-target:before {
  content: "\ea73";
}
.icon-terminal:before {
  content: "\ea74";
}
.icon-thermometer:before {
  content: "\ea75";
}
.icon-thumbs-down:before {
  content: "\ea76";
}
.icon-thumbs-up:before {
  content: "\ea77";
}
.icon-toggle-left:before {
  content: "\ea78";
}
.icon-toggle-right:before {
  content: "\ea79";
}
.icon-tool:before {
  content: "\ea7a";
}
.icon-trash1:before {
  content: "\ea7b";
}
.icon-trash-2:before {
  content: "\ea7c";
}
.icon-trello:before {
  content: "\ea7d";
}
.icon-trending-down:before {
  content: "\ea7e";
}
.icon-trending-up:before {
  content: "\ea7f";
}
.icon-triangle:before {
  content: "\ea80";
}
.icon-truck:before {
  content: "\ea81";
}
.icon-tv:before {
  content: "\ea82";
}
.icon-twitch:before {
  content: "\ea83";
}
.icon-twitter1:before {
  content: "\ea84";
}
.icon-type:before {
  content: "\ea85";
}
.icon-umbrella:before {
  content: "\ea86";
}
.icon-underline:before {
  content: "\ea87";
}
.icon-unlock:before {
  content: "\ea88";
}
.icon-upload:before {
  content: "\ea89";
}
.icon-upload-cloud:before {
  content: "\ea8a";
}
.icon-user1:before {
  content: "\ea8b";
}
.icon-user-check:before {
  content: "\ea8c";
}
.icon-user-minus:before {
  content: "\ea8d";
}
.icon-user-plus:before {
  content: "\ea8e";
}
.icon-user-x:before {
  content: "\ea8f";
}
.icon-users:before {
  content: "\ea90";
}
.icon-video:before {
  content: "\ea91";
}
.icon-video-off:before {
  content: "\ea92";
}
.icon-voicemail:before {
  content: "\ea93";
}
.icon-volume:before {
  content: "\ea94";
}
.icon-volume-1:before {
  content: "\ea95";
}
.icon-volume-2:before {
  content: "\ea96";
}
.icon-volume-x:before {
  content: "\ea97";
}
.icon-watch:before {
  content: "\ea98";
}
.icon-wifi1:before {
  content: "\ea99";
}
.icon-wifi-off:before {
  content: "\ea9a";
}
.icon-wind:before {
  content: "\ea9b";
}
.icon-x:before {
  content: "\ea9c";
}
.icon-x-circle:before {
  content: "\ea9d";
}
.icon-x-octagon:before {
  content: "\ea9e";
}
.icon-x-square:before {
  content: "\ea9f";
}
.icon-youtube1:before {
  content: "\eaa0";
}
.icon-zap:before {
  content: "\eaa1";
}
.icon-zap-off:before {
  content: "\eaa2";
}
.icon-zoom-in:before {
  content: "\eaa3";
}
.icon-zoom-out:before {
  content: "\eaa4";
}
