/*
Settings
Essas são as configurações básicas da sua arquitetura. Em geral, são as variáveis globais que vão definir cores, espaçamentos e outras configurações desejadas para o funcionamento do seu framework em si. Perceba que nada aqui será gerado como CSS final, sendo somente utilizado na criação.
*/

// scss-docs-start color-variables
$purple: #9843db !default;
$pink: #f876f8 !default;
$red: #f15375 !default;
$orange: #faa528 !default;
$green: #a6dd2b !default;
$cyan: #47d6f8 !default;

$primary: #0f6b7b !default;
$secondary: #3b3b3b !default;
$danger: #ff6262 !default;
$info: #47d6f8 !default;
$dark: #262626 !default;
