.c-reservas{
    &__container{
        padding: 3.75rem 0 6.18rem;
        .icon-search{
            font-size: 2rem;
        }
        .icon-ajust{
            font-size: 1.75rem;
        }
    }
    &__filtros{
        &__container{
            width: 63%;
            .form-label, .form-check-label{
                margin-bottom: .5rem;
            }
        }
    }
    .fixed-table-pagination{
        margin-top: 1.5rem;
    }
    &__table{
        &__status{
            span{
                display: block;
                height: 5px;
                width: 5px;
                border-radius: 100%;
                background: #D5D5D5;
                margin-left: 2px;
            }
            &__item:nth-child(2){
                margin: 0 .75rem;
            }
            &__item{
                display: inline;
            }
        }
        &__visibilidade{
            display: block;
            background-image: url(../img/eye-close.png);
            background-size: contain;
            background-repeat: no-repeat;
            height: 1.18rem;
            width: 1.37rem;
            &.check{
                background-image: url(../img/eye-open.png);
            }
        }
        .dataTables_wrapper .dataTables_paginate .paginate_button,
        .dataTables_wrapper .dataTables_paginate .paginate_button:hover{
            border: 0;
            border-radius: .62rem;
            color: #656565!important;
            background: transparent;
        }
        .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
            background: $primary;
            color: #fff!important;
            border: 0;
        }
        .dataTables_length{
            color: #656565;
            font-size: .87rem;
            margin-bottom: 2rem;
        }
        .dataTables_filter{
            display: none;
        }
        #table_info, #table_paginate{
            margin-top: 2rem;
            color: #656565;
            font-size: .87rem;
        }
        .table tbody tr{
            cursor: pointer;
        }
    }
}


.c-reservas__menu{
    display: none;
    position: relative;    
    &.open{
        opacity: 1;
        visibility: visible;
        display: block;
        .c-reservas__menu__bg{
            opacity: .3;
            visibility: visible;
        }
        .c-reservas__menu__content{
            animation: fpFadeInRight 300ms cubic-bezier(0.23, 1, 0.32, 1);
            opacity: 1;
        }
    }
    &__close{
       width: 100%;
       left: 44px;
    }
    &__bg{
        background: #000;
        position: fixed;
        height: 100vw;
        width: 100vw;
        top: 0;
        left: 0;
        z-index: 9999;
        opacity: 0;
        visibility: hidden;
        transition: .3s ease-in-out;
        cursor: pointer;
    }
    &__content{
        height: 100vh;
        background: #fff;
        position: fixed;
        z-index: 99999999;
        top: 0;
        right: 0;
        display: flex;
        transition: .3s;
        opacity: 0;
        overflow: hidden;
        .tab-content{
            overflow: auto;
        }
        .tab-pane{
            border-left: 1px solid #EAEAEA;
        }
    }
    &__icons{
        width: 7.1rem;
        padding-top: 4rem;
        .nav-item{
            button{
                position: relative;
                &:before{
                    content: '';
                    background: #0F6B7B;
                    display: block;
                    height: 100%;
                    width: 7px;
                    left: 0;
                    top: 0;
                    position: absolute;
                    transition: .2s ease-out;
                    transform: translateX(-7px);
                }
                &.active, &:hover{
                    color: $primary;
                    &:before{
                        transform: translateX(0px);
                    }
                }
            }
            
        }
        .nav-link{
            border: 0;
            background: #fff;
            width: 100%;
            text-align: center;
        }
    }

    &__container{
        padding: 4rem 3.68rem 4rem 5rem;
        width: 30.31rem;
        h3{
            font-size: .86rem;
            color: $primary;
            font-weight: 500;
            padding-top: .75rem;
        }
    }
    #log-tabContent{ 
        .c-reservas__menu__container{
            width: 939px;
        }
        table.table{
            thead th{
                border: 0;
                font-weight: 400;
                padding: 0;
                opacity: .34;
            }
            tbody {
                &:before{
                    display: none;
                }
                td{
                    border-radius: 0;
                    border-color: #dee2e6;
                    padding: .4rem 0;
                }
            }
        }
    }
    #comentarios-tabContent{
        .add-comment{
            position: relative;
            display: block;
            span{
                position: absolute;
                top: 11px;
                left: 15px;
            }
            input#add-comment{
                padding-left: 3rem;
            }
        }
    }
}



.c-reservas__voucher{
    .qnty{
        width: 6.5rem;
    }
    &__passageiro{
        width: 12.37rem;
    }
    &__idioma{
        width: 11.5rem;
    }
    &__comentarios{

    }

}

.c-reservas__invoice{
    &__input{
        width: 16.76rem;
    }

}

.c-reservas__doc{
    &__col1{
        width: 34rem;
        table{
            max-width: 100%;
        }
    }
    &__table{
        width: 47.62rem;
        margin-left: 6.18rem;   
    }
}



@-webkit-keyframes fpFadeInRight{
    from{ 
        opacity:0;
        -webkit-transform:translate3d(0,0,0);
        transform:translate3d(0,0,0)
    }
    to{
        opacity:1;
        -webkit-transform:translate3d(20px,0,0);
        transform:translate3d(0,0,0)
    }
}
@keyframes fpFadeInRight{
    from{
        opacity:0;-webkit-transform:translate3d(0,-0,0);
        transform:translate3d(20px,0,0)
    }
    to{
        opacity:1;-webkit-transform:translate3d(20px,0,0);transform:translate3d(0,0,0)
    }
}